@font-face {
	font-family: "AppleSDGothicNeo";
	src: url("./font/AppleSDGothicNeoM.ttf") format("truetype");
}

@font-face {
	font-family: "Gotham";
	src: url("./font/Gotham-Black.otf") format("opentype");
}

body {
	font-family: "AppleSDGothicNeo", sans-serif;
	margin: 1em 0 0 1.5em;
	background-color: #191919;
	color: #f0f0f0;
}

.handle {
	font-family: "Gotham", sans-serif;
}

a {
	color: inherit;
}

.a {
	border-collapse: collapse;
	margin: 1em 0 1em 0;
}

.left {
	border: 1px solid white;
	height: 2.5em;
	width: 5em;
	text-align: center;
}

.right {
	border: 1px solid white;
	height: 2.5em;
	width: 18em;
	padding-left: 0.75em;
}

td.link {
	width: 4em;
	text-align: center;
}

tr.link {
	height: 3em;
}

h1,
h3 {
	display: inline;
}

.footer {
	color: #777777;
	margin-top: 2.5em;
	font-size: 0.6em;
}

div.link {
	width: 3.1em;
	text-align: center;
}
